<!-- <button (click)="getCam()" [ngClass]="!showCam ? 'show' :'hide'" >Turn Camera On</button> -->
<!-- <video #video class="webcam-width" autoplay controls></video> -->
<!-- <video #video class="webcam-width" id="videoStream" autoplay controls></video> -->
<div class="video-container">
  <video #video class="webcam-width" id="videoStream" autoplay controls></video>
  <div class="overlay-text">{{ currentTime$ | async | date:'medium' }}</div>
</div>
<button (click)="startRecording()">Start Recording</button>
<button (click)="stopRecording()" [disabled]="!isRecording">Stop Recording</button>
<!-- <button (click)="retrieveVideo()">Retrieve Video</button> -->
<button (click)="downloadVideoFromIndexedDB()">Download Video</button>
<button (click)="clear()">clear Video</button>
<!-- <div class="title">
</div>
<div class="container">

  <div [ngClass]="showCam ? 'show' :'hide'" class="webcam-width">
    <div style="position: relative;">
      <video #video class="webcam-width" id="videoStream" autoplay controls></video>
      <div style="position: absolute; top: 400px; left: 280px; color: white; font-size: 18px;">
        {{ currentTime$ | async | date:'medium' }}
      </div>
    </div>
    <br>
    <button (click)="start()" >Start Record</button>
    <button (click)="stop()" >Stop Record</button>
    <select [(ngModel)]="selectedQuality" (change)="changeQuality(selectedQuality)">
      <option *ngFor="let quality of videoQualityOptions" [ngValue]="quality">
        {{ quality.label }}
      </option>
    </select>
  </div>
  <div [ngClass]="showVideos ? 'show' :'hide'" class="webcam-width">
    <video #recordedVideo class="webcam-width" id="videoStream" autoplay controls></video>
  </div>
</div> -->
<!-- <div style="width: 40vw;">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div> -->
